<div calss="container mt-2 mb-2">
    <form class="form-inline" method="POST" action="/">
        <span class="badge badge-secondary mr-3">Capitulos:</span>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="options" value="disponible" checked>
            <label class="form-check-label" >Disponible</label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="options" value="reservado">
            <label class="form-check-label" >Reservado</label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="options" value="alquilado">
            <label class="form-check-label" >Alquilado</label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Ok</button>
        </div>
    </form>
</div>