<!DOCTYPE html>
<html lang="en">
    {% include 'components/Head/index.html' %}
<body>
    <container 
        style="
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)"
    >
        <div class='card text-light bg-dark mb-3'>
            <div class="card-header">
                <h1 class="text-center">4 <i class="fas fa-jedi"></i> 4</h1>
            </div>
            <div class="card-body">
                <p class="card-text text-center">Ooops! pagina no encontrada!</p>
            </div>
            <div class="card-footer text-center">
                <a href='/' class='btn btn-block bg-light text-center'>Volver al home</a>
            </div>
        </div>
    </container>
</body>
</html>